/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';
@import 'react-date-picker/index';

*{

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}

.itenerary-body #map{

	width: 50%;
	height: 400px;

}

#map {
	width: 100%;
	height: 400px;
	border-radius: 5px;
	margin: 10px 0px;

}

.welcome-message{

	margin-top: 50px;
	color: white;
	text-align: center;
	h1{
		font-size: 3em;
		text-shadow: 1px 1px 2px black;
	}
	p{
		font-size: 1.5em;
		text-shadow: 1px 1px 2px black;
	}

}

.login-wrapper{

	background-image: url('../images/stadium.jpeg');
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;


}

.login-inner-wrapper{

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	padding: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;


}

.login, .signup{

	color: white;

	background: rgba(63, 191, 191, 0.41);
	background: rgba(187, 175, 138, 0.41);
	background: hsla(25, 35%, 59%, 0.74);
	width: 400px;
	height: 300px;
	padding: 40px;
	border-radius: 15px;
	input{
		margin-bottom: 5px;
	}

	h2{
		margin-bottom: 5px;
		font-size: 2em;
	}

}

button{

	padding: 10px;
	font-size: 1.1em;
	border: 2px solid black;
	border-radius: 5px;
	background: black;
	color: white;
	margin: 5px 0px;
	&:hover{

		background: white;
		color: black;
		

	}

}


////////////////START TRIP PAGE

.matchups{

	font-size: 1.5em;
	margin: 10px 0px;

}


.start-trip-wrapper{

	display: flex;
	justify-content: space-around;

}

.dp-header{

	font-size: 2em;

}

.dp-body{

	font-size: 1.4em;
	// .dp-day{

	// 	padding-top: 20px;
	// 	padding-bottom: 20px;

	// }
}

.date-picker .dp-table .dp-cell{

	padding-top: 20px;
	padding-bottom: 20px;

}

.events-wrapper{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.itinerary-event{

	margin: 40px 40px;
	border-radius: 10px;
	border: 1px solid black;
	width: 400px;
	padding: 15px;
	img{

		width: 100%;
		margin: 5px 0px;

	}

}