/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';
@import 'react-date-picker/index';

#map2{

	width: 100%;
	height: 400px;

}

.dp-header{

	font-size: 2em;

}

.dp-body{

	font-size: 1.4em;
	// .dp-day{

	// 	padding-top: 20px;
	// 	padding-bottom: 20px;

	// }
}

.date-picker .dp-table .dp-cell{

	padding-top: 20px;
	padding-bottom: 20px;

}