/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';
@import 'react-date-picker/index';

*{

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}

.body #map{

	width: 50%;
	height: 400px;

}
#map {
	width: 50%;
	height: 400px;

}

button{

	padding: 10px;
	font-size: 1.1em;
	border: 1px solid black;
	border-radius: 5px;
	background: black;
	color: white;
	margin: 5px;
	&:hover{

		background: white;
		color: black;
		

	}

}

.dp-header{

	font-size: 2em;

}

.dp-body{

	font-size: 1.4em;
	// .dp-day{

	// 	padding-top: 20px;
	// 	padding-bottom: 20px;

	// }
}

.date-picker .dp-table .dp-cell{

	padding-top: 20px;
	padding-bottom: 20px;

}